<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>sdasdasd</title>
        <link rel="stylesheet" href="login_style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Jura:wght@300&family=Titillium+Web:wght@200;400&display=swap"
            rel="stylesheet"
        />
    </head>

    <body>

        <img src="pasta-draw.png" class="pasta-draw" alt="" srcset="" />
        <h1 class="petitionH1">Are you tired of ordering Carbonara pasta and
            getting something else?</h1>

        <p class="petitionText">Register below and sign this petition. Let's together make a safer world for us all!</b>.
        </p>

        <div class="formContainer">
            <form method="POST" class="petitionForm">

                <label class="email">
                    E-Mail: 
                    <input type="text" name="email" />
                </label>
                <label class="password">
                    Password:
                    <input type="password" name="password" />
                </label>
                    {{#if checkData}}<p class="error">Check your data.. ;)</p>{{/if}}
                    <button type="submit">Login!</button>
                    <a href="/register">Not registered? Register here!</a>
                </div>
                

            </form>
        </div>

    </body>

</html>