<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>sdasdasd</title>
        <link rel="stylesheet" href="profile_style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Jura:wght@300&family=Titillium+Web:wght@200;400&display=swap"
            rel="stylesheet"
        />
    </head>

    <body>

        <img src="pasta-draw.png" class="pasta-draw" alt="" srcset="" />


        <p class="petitionText">Tell us more about yourself...</b>.
        </p>

        <div class="formContainer">
            <form method="POST" class="petitionForm">
                <label class="age">
                    Age:
                    <input type="text" name="age" />
                </label>
                <label class="city">
                    City:
                    <input type="text" name="city" />
                </label>
                <label class="email">
                    Homepage:
                    <input type="text" name="url" />
                </label>
               
                <p class="error">Oops, something went wrong... Care trying again?</p>

                    <button type="submit">Register!</button>
                </div>
                

            </form>
        </div>

    </body>

</html>