<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="thank_you_style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Jura:wght@300&family=Titillium+Web:wght@200;400&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>

        <div class="signersPageWrap">
            <div class="signedText"><h1 class="signedh1">Thank you very much for
                    signing it.</h1></div>

            <div class="sigContainer">
                <img
                    src={{signature}}
                    alt=""
                    srcset=""
                    class="signatureIMG"
                /></div>

            <h3 class="thankYou">We realle aprecciatte it. Lets keep humans safe
                from that creamy monstruosity.</h3>

            <a href="/signed" class="listLink">Here's a list of everyone that
                signed this petition until now!</a>
            <br />
            <a href="/edit" class="listLink">Edit your profile</a>
            <form action="" method="post">
                <input
                    type="submit"
                    name="deleteSignature"
                    value="Delete Signature"
                />
            </form>
            <form action="" method="post">
                <input
                    type="submit"
                    name="deleteAccount"
                    value="Delete Account"
                />
            </form>

        </div>
    </body>
</html>