<div class="formContainer">
    <form method="POST" class="petitionForm">
        <label class="firstName">
            First Name:
            <input type="text" name="First Name" />
        </label>
        <label class="lastName">
            Last Name:
            <input type="text" name="Last Name" />
        </label>
        <input type="hidden" name="Signature" class="signature" />
        <div class="canvasWrapper">
            <canvas
                id="canvasSignature"
                class="stickCanvas"
                width="320"
                height="40"
            ></canvas>
        </div>
        <button type="submit">Sign petition! ✍</button>
    </form>
</div>