body {
    background-color: #ffe2bd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signersPageWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signedText {
    position: relative;
    bottom: 18vh;
}

h1,
h2,
h3,
h4,
a,
.signer {
    display: block;
    text-align: center;
}

.thankYou {
    position: relative;
    bottom: 6vh;
    font-size: 26px;
}
.sigContainer {
    display: flex;
    justify-content: center;
}

.signatureIMG {
    background-color: rgb(255, 251, 240);
    position: relative;
    bottom: 14vh;
    padding: 15px;
    border: 2px solid black;
}

.signedH1 {
    position: relative;
    font-size: 45px;
}

.listLink {
    position: relative;
    font-size: 28px;
    bottom: 3vh;
}

form {
    display: flex;
    justify-content: center;
}

input {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
    font-size: 25px;
}

.logout {
    position: relative;
    font-size: 28px;
    bottom: 1vh;
}
